
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Files/css/slyles.css">
    <title>LF2</title>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>


</head>


<body class="layout_body">

    <div class="maindiv">
        @RenderBody()
    </div>

    <div class="footer">
        <a href="https://github.com/Gavreg/ScoiWEB/releases" style="margin: auto"><p style="text-align:center">GitHub</p></a>
    </div>

@RenderSection("scripts",false)

</body>



</html>