@{
    ViewData["Title"] = "Binary";
}

<input id="file" type="file" onchange="showpreview(this);" />
<br />
<br />

<div class="container">
    <img id="imgpreview" src="">

</div>
<br />
<div class="bin_params">
    <label><b>Параметры бинаризации Ниблека</b></label>

    <div >
        <label>Размер окна</label><input id="wnd_size" value="11"></input>
    </div>
    
    <div >
        <label>Чувствительность</label><input id="sens" value="-0,2"></input>
    </div>
</div>

<div class="bin_params">
    <label><b>Параметры бинаризации Сауволы</b></label>

    <div>
        <label>Размер окна</label><input id="sav_wnd_size" value="11"></input>
    </div>

    <div>
        <label>k</label><input id="sav_sens" value="0,5"></input>
    </div>
</div>
<div class="bin_params">
    <label><b>Параметры бинаризации Брэдли-Рота</b></label>

    <div>
        <label>Размер окна</label><input id="bred_wnd_size" value="11"></input>
    </div>

    <div>
        <label>t</label><input id="bred_sens" value="0,15"></input>
    </div>
</div>

<br />
<br />
<input id="btn_send" type="button" value="Загрузить" />
<br />
<div class="result">
    <h3 id="progress"></h3> <br />
    <h3 id="opTime"></h3><br />
            <div class="result_img">

                <div class="result_element">
                    <h3>Критерий Гаврилова</h3> <br />
                    <img id="resultimg" src="" />
                </div>

                <div class="result_element">
                    <h3>Критерий Отсу</h3> <br />
                    <img id="resultimg1" src="" />
                </div>

                <div class="result_element">
                    <h3>Критерий Ниблека</h3> <br />
                    <img id="resultimg2" src="" />
                </div>
                <div class="result_element">
                    <h3>Критерий Сауволы</h3> <br />
                    <img id="resultimg3" src="" />
                </div>
                <div class="result_element">
                    <h3>Критерий Брэдли-Рота</h3> <br />
                    <img id="resultimg4" src="" />
                </div>
            </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/Files/js/comon.js"></script>

    <script type="text/javascript">


        let imagename = "";
        let imagename1 = "";
        let imagename2 = "";
        let imagename3 = "";
        let imagename4 = "";

        operation_url = "/Main/LoadImageBinary";

        send_data = () => {
            let data = new FormData();
            data.append("file", $("#file")[0].files[0]);
            data.append("wndSize", $("#wnd_size").val());
            data.append("sens", $("#sens").val());
            data.append("sav_wndSize", $("#sav_wnd_size").val());
            data.append("sav_sens", $("#sav_sens").val());
            data.append("bred_wndSize", $("#bred_wnd_size").val());
            data.append("bred_sens", $("#bred_sens").val());

            //data.append("matr_str", $("#matr").val());
            return data;
        };

        data_sended = (respond) => {

            let files = respond.split(":");
            imagename = files[0];
            imagename1 = files[1];
            imagename2 = files[2];
            imagename3 = files[3];
            imagename4 = files[4];
        }

        operation_complete = () => {
            $("#resultimg").attr("src", imagename);
            $("#resultimg1").attr("src", imagename1);
            $("#resultimg2").attr("src", imagename2);
            $("#resultimg3").attr("src", imagename3);
            $("#resultimg4").attr("src", imagename4);
        }



    </script>
}

