@{
    ViewData["Title"] = "Binary";
}

<input id="file" type="file" onchange="showpreview(this);" />
<br />
<br />

<div class="container">
    <img id="imgpreview" src="">

</div>
<br />
<div style="border: 1px solid gray; border-radius: 5px; padding: 8px; display: inline-block;">
    <label><b>Параметры бинаризации Ниблека</b></label>

    <div >
        <label>Размер окна</label><input id="wnd_size" value="11"></input>
    </div>
    
    <div >
        <label>Чувствительность</label><input id="sens" value="-0,2"></input>
    </div>
</div>
<br />
<br />
<input id="btn_send" type="button" value="Загрузить" />
<br />
<div class="result">
    <h3 id="progress"></h3> <br />
    <h3 id="opTime"></h3><br />
    <div class="result_img">

        <div>
            <h3>Критерий Гаврилова</h3> <br />
            <img id="resultimg" src="" />
        </div>

        <div>
            <h3>Критерий Отсу</h3> <br />
            <img id="resultimg1" src="" />
        </div>

        <div>
            <h3>Критерий Ниблека</h3> <br />
            <img id="resultimg2" src="" />
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/Files/js/comon.js"></script>

    <script type="text/javascript">


        let imagename = "";
        let imagename1 = "";
        let imagename2 = "";

        operation_url = "/Main/LoadImageBinary";

        send_data = () => {
            let data = new FormData();
            data.append("file", $("#file")[0].files[0]);
            data.append("wndSize", $("#wnd_size").val());
            data.append("sens", $("#sens").val());

            //data.append("matr_str", $("#matr").val());
            return data;
        };

        data_sended = (respond) => {

            let files = respond.split(":");
            imagename = files[0];
            imagename1 = files[1];
            imagename2 = files[2];
        }

        operation_complete = () => {
            $("#resultimg").attr("src", imagename);
            $("#resultimg1").attr("src", imagename1);
            $("#resultimg2").attr("src", imagename2);
        }



    </script>
}

