
@{
    ViewData["Title"] = "fur";
}

<h1>fur</h1>

<input id="file" type="file" onchange="showpreview(this);" />
<div class="container">
    <img id="imgpreview" src="">
</div>
<div>
    <label id="img_w">1</label> <br/>
    <label id="img_h">2</label>
</div>
<div>
    <label>Области фильтра</label> <br />
    <textarea id="filter" cols="40" rows="5">512;512;0;20</textarea><br />
    <label>Множетели</label><br />
    <label>Удв.  условие фильтра</label><input id="onCodition" type="text" size="40" value="1"></input><br />
    <label>Не удв.  условие фильтра</label><input id="noCodition" type="text" size="40" value="0"><br />
    <input id="btn_send" type="button" value="Загрузить" /><br />
</div>
<div class="result">
    <h3 id="progress"></h3> <br />
    <h3 id="opTime"></h3><br />
    <img id="resultimg1" src="" />
    <img id="resultimg2" src="" />

</div>




<script type="text/javascript" src="/Files/js/comon.js"> </script>

<script type="text/javascript">

    let imagename1 = "";
    let imagename2 = "";

    operation_url = "/Main/LoadImageFur";
    
    send_data = () => {
        let data = new FormData();
        data.append("file", $("#file")[0].files[0]);
        data.append("filter", $("#filter").val());
        data.append("inFilter", $("#onCodition").val());
        data.append("outFilter", $("#noCodition").val());
        return data;
    };

    data_sended = (respond) => {
        let string_arr = respond.split(":");
        imagename1 = string_arr[0];
        imagename2 = string_arr[1];
    }

    operation_complete = () => {
        $("#resultimg1").attr("src", imagename1);
        $("#resultimg2").attr("src", imagename2);
    }


</script>




