
@{
    ViewData["Title"] = "Index";
}

<h1>Системы цифровой обработки изображений</h1>
<ul>
    <li>
        <a href="/Main/Matrix">Матрица</a>
    </li>

    <li>
        <a href="/Main/Fur">Фурье-преобразование</a>
    </li>
</ul>

